<main>
  <h2>Books</h2>
  <div class="box">
    <table class="table-box">
      <tr class="title-box">
        <th></th>
        <th>Title</th>
        <th>Opinion</th>
      </tr>
      <% @books.each do |book| %>
        <tr class="contents">
          <td>
            <%= attachment_image_tag @user, :profile_image, :fill, 100, 100, format: 'jpeg' %>
          </td>
          <td class="link">
            <%= book.title %>
          </td>
          <td>
            <%= book.body %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
  <%= render 'users/list', book: @book %>
</main>