<body>
  <div class="col-xs-9 col-xs-offset-3">
    <h1>Welcome to <span class="glyphicon glyphicon-book" aria-hidden="true"></span><strong>Bookers</strong>!!</h1>
    <p>In <span class="glyphicon glyphicon-book" aria-hidden="true"></span>Bookers,</p>
    <p>you can share and exchange your opinions , inpressions , and emotions<br>about various books!</p>
    <div class="">
      <div class="row">
        <%= link_to new_user_session_path do %>
          <p class="btn btn-info col-xs-7 col-xs-offset-0">Log in</p>
        <% end %>
      </div>
      <div class="row">
        <%= link_to new_user_registration_path do %>
          <p class="btn btn-success col-xs-7 col-xs-offset-0">Sign up</p>
        <% end %>
      </div>
    </div>
  </div>
</body>